body {background-color: #D8D3C9;
    padding: 28px;
    font-family: "Space Grotesk", sans-serif;
      
    }
    .box{
        display: grid;
        max-width: 1200px;
        min-height: 850px;
        margin:auto;
        gap: 14px;
        grid-template-columns: 1.5fr 1.05fr 0.9fr;
        grid-template-rows:60px;
        grid-template-areas: 
        "container1 container2 container3"
        "container1 container4 container5";
        grid-template-rows: 2fr 1fr;
    }
.container1 {
    display: flex;
    background-color:#F5F2EA ;
    border-radius: 24px;
    padding: 28px;
    grid-area:container1;

    flex-direction: column;
    justify-content: space-between;

    .top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
    }

    h1{
        font-size: 90px;
        line-height: 0.9;
        margin: 0;

    }
   
   
}
.container2 {
    display: flex;
    background-color:#181818 ;
   border-radius: 24px;
    grid-area:container2;
    color:#F5F2EA;
   
   padding: 28px;
 flex-direction: column;
    justify-content: space-between;

    .top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
    }
h2{
        font-size: 67px;
        line-height: 0.9;

    }
   
}
.container3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#D8FF45;
    border-radius: 24px;
 grid-area:container3;
 
 padding: 28px;
 .top {
   
    font-size: 12px;
}
h3{
    font-size: 55px;
    margin: 0px;
}
a{
    color: #181818;
    text-decoration: none;
    font-weight: bolder;  
}
a:hover{
    color: #6758F5;
}
.under p{
    margin-top: 5px;
}

}
.container5 {
    background-color: #6758F5;
   border-radius: 24px;
    grid-area:container5;
    color:#F5F2EA;
   
    padding: 28px;
}
.container4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#F5F2EA ;
    border-radius: 24px;
     grid-area:container4;
      padding: 28px;
      .top {
      font-size: 14px;
      }
      .under{
        font-size: 28px;
        font-weight: bolder;
      }

    
}